#root {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
    list-style: none;
}
body,html{
  width: 100%;
  height: 100%;
background-color: #1F1F1F;

}
