.contactSection{
  max-width: 1300px;
  width: 95%;
  margin: auto;
  padding-top: 120px;
  padding-inline: 10px;
}
.heading{
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
}
.heading::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 70%;
  height: 1px;
  background-color: #FFBB00;

}
.contactTop{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.location , .phone , .email{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: #282828;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  color: #FFF;
  flex-grow: 1;
  border: 1px solid transparent;
  transition: all .1s ease;
}
.location:hover , .phone:hover , .email:hover{
  border: 1px solid #FFBB00;
  transform: translateY(-10px);
}
.icon{
  color: #FFBB00;
  font-size: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subHead{
  font-size: 20px;
  color: #FFF;
   letter-spacing: normal;
}
.contactSection p{
  font-size: 18px;
  letter-spacing: 1.5px;
}

/* Form */
.formContainer{
  display: flex;
flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
.Map h2{
  font-size: 50px;
  position: relative;
text-align: center;
background-color: #282828;
border-radius: 10px;
  color: #fff;
    margin-top: 30px;
    font-weight: 400;
}

.Map iframe{
  width: 100%;
border-radius: 10px;
margin-top: 10px;
}

.rightContainer, .leftContainer{
  width: 300px;
  flex-grow: 1;
}

.leftContainer img{
  width: 100%;
}
.rightContainer form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rightContainer input{
  width: 100%;
  height: 60px;
  border-radius: 28px;
  border: none;
  padding-inline: 15px;
  outline: none;
  font-size: 16px;
  border: 1px solid #FFBB00;
  background-color: #282828;
color: #FFF;
}
.rightContainer input::placeholder , textarea::placeholder{
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}
.rightContainer textarea{
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 28px;
  outline: none;
  font-size: 16px;
    border: 1px solid #FFBB00;
  background-color: #282828;
  color: #FFF;
}
.rightContainer textarea:focus, input:focus{
  border: 2px solid #FFBB00;
  background-color: #FFF;
  color: #000;
}
.rightContainer button{
  width: 150px;
  height: 50px;
  border-radius: 28px;
  font-size: 18px;
border: 2px solid transparent;
  color: #282828;
  background-color: #FFBB00;
  display: flex;
  justify-content:center;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  transition: all.3s ease;
}
.rightContainer button:hover{
   background-color: #282828;
   border: 2px solid #FFBB00;
   color: #FFBB00;
}
@media (max-width:750px) {
  .Map h2{
    font-size: 35px;
  }
}