.headerSection{
  max-width: 1300px;
  width: 95%;
  height: 90px;
  border: 1px solid #FFBB00;
  background-color: #080808;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #080808;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  z-index: 9999;
}
.logoBrand{
  font-weight: 400;
  color: #FFBB00;
  font-size: 30px;
  transition: color .3s ease ;
  cursor: pointer;
}
.logoBrand:hover{
  opacity: 0.95;
}

.logoIcon{
  text-shadow: #080808;
   animation: rotateAnimate 1.5s ease-in-out infinite;}
@keyframes rotateAnimate {
  0%{
    rotate: 0;
  }
  50%{
    rotate: 45deg;
  }
  100%{
    rotate: 0;
  }
}
.navLink{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navLink li a{
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 0px;
  background-color: #1F1F1F;
  padding: 4px 12px;
  border-left: 2px solid #FFBB00;
  border-right: 2px solid #FFBB00;
  transition: all .3s ease;
}
.navLink li a:hover{

  color: #FFBB00;

}
.mobileMenu{
  color: #FFBB00;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F1F1F;
  border-radius: 4px;
  display: none;
  cursor: pointer;
}

@media (max-width:750px) {
  .navLink{
    gap: 2px;
  }
  .mobileMenu{
    display: flex;
  }
  .navLink{
   position: absolute;
   top:90px;
   left: 0;
   width: 100%;
   background-color: #1F1F1F;
   border-radius: 5px;
   flex-direction: column;
   align-items: flex-start;
   overflow: hidden;
   display: none;
   /* border: 2px solid #FFBB00; */
  /* animation: animate .3s ease; */

  }
 .navLink li{
  width: 100%;
 }
  .navLink li a{
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 0;
  display: block;
  text-align: center;
  width: 100%;
  padding: 4px 12px;
  transition: all .3s ease;
  border-bottom: 1px solid  #FFBB00;


}
.navLink li > a:first-child{
  border-top: 1px solid #FFBB00;
}
.navLink li a:hover{
  background-color: #FFBB00;
  color: #080808;

}

.show{
  display: flex;
}
  
}

/* animation */
@keyframes animate {
  from{
    transform: translateY(-20px);
  }
  to{
    transform: translateY(0);
  }
}
