.serviceSection{
  max-width: 1300px;
  width: 95%;
  margin: auto;
  padding-top: 120px;
  padding-inline: 10px;
  min-height: 100vh;
}
.serviceSection > h2{
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
}
.serviceSection > h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 90%;
  height: 1px;
  background-color: #FFBB00;
  border-radius: 100%;
}
.serviceSection > p{
margin-top: 20px;
font-size: 18px;
word-spacing: 1.5px;
color: #FFF;
font-weight: 300;
letter-spacing: 1.1px;
}
.serviceCardcontainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
margin-top: 35px;
}
.serviceCard{
  width: 500px;
  border-radius: 10px;
  background-color: #282828;
  padding: 20px;
    flex-grow: 1;
    border: 1px solid transparent;
    transition: all .3s ease;
    transform: translate3d(45deg);
}
.serviceCard:hover{
  border: 1px solid #FFBB00;

}
.serviceCard > h2{
  color: #FFF;
  font-size: 30px;
  margin-top: 10px;
}
.serviceCard >p{
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
  font-style: italic;
 word-spacing: 1.5px;

}
.iconContainer{
  width: 100px;
  height: 100px;
   border-radius: 50%;
  background-color: #000;
  border: 2px solid #FFBB00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  font-size: 50px;
  color: #FFBB00;
}
@media (max-width:750px) {
  .serviceSection > h2{
    font-size: 33px;
  }
  .serviceSection > p{
    font-size: 16px;
  }
  .serviceCard > h2{
    font-size: 25px;
  }
  .serviceCard > p{
    font-size: 16px;
  }
.serviceCardcontainer{
 margin-top: 20px;
}
}